
<br/>
<div class="form-group">
    @Html.Label("Performance Indicator")

    @Html.DropDownList("Outcomes", new SelectList(ViewBag.PIndicator, "Value", "Text")
)
    <br />

    </div>
    @Scripts.Render("~/bundles/jquery")


