

<p>Performance Indicators:</p>

@Html.DropDownList("PIndicators", new SelectList(ViewBag.PIndicator, "Value", "Text")
)


@Html.ActionLink("Get Rubrics", "Display")



@Scripts.Render("~/bundles/jquery")


