
<br />
<div class="form-group">
    @Html.Label("Performance Indicator")

    @Html.DropDownList("Outcomes", new SelectList(ViewBag.PIndicator, "Value", "Text"))
    <br />

</div>
<input type="submit" value="Search Again" class="btn btn-primary"/>
